<div class="body">
  <div class="login" *ngIf="!isLogged && !isRegister">
    <h1>NibWib</h1>
    <h2>Please login or register!</h2>
    <form name="loginForm" #loginForm="ngForm">
      <p>Username: <input type="text" [(ngModel)]="username" name="username" required /></p>
      <p>Password: <input type="password" [(ngModel)]="password" name="password" required /></p>
      <button class="btn_in" (click)="login()">Login</button>
      <button class="btn_reg" (click)="isRegister = true">Register</button>
    </form>
  </div>
  <div class="register" *ngIf="isRegister">
    <form name="registerForm" #registerForm="ngForm">
      <p>Username: <input type="text" [(ngModel)]="username" name="username" required /></p>
      <p>Password: <input type="password" [(ngModel)]="password" name="password" required /></p>
      <p>Password2: <input type="password" [(ngModel)]="password2" name="password2" required /></p>
      <p>Email: <input type="email" [(ngModel)]="email" name="email" required /></p>
      <p>First Name: <input type="text" [(ngModel)]="first_name" name="first_name" required /></p>
      <p>Last Name: <input type="text" [(ngModel)]="last_name" name="last_name" required /></p>
      <button (click)="register()">Register</button>
      <button (click)="isRegister = false">Cancel</button>
    </form>
  </div>
</div>

<div class="content" *ngIf="isLogged">
  <button (click)="logout()">Logout</button>

  <div class="main">
    <router-outlet></router-outlet>
  </div>  
</div>
