<div>
  <h2>{{ product.name }}</h2>
  <p>{{ product.description }}</p>
  <p>Price: {{ product.price }}</p>
  <a [routerLink]="['/categories', product.category.id]">{{product.category.name}}</a>
  <!-- <button (click)="addToCart(product.id)">Add One</button> -->
</div>
<!-- product-detail.component.html -->
<div *ngIf="product">
  <h2>{{ product.name }}</h2>
  <p>{{ product.description }}</p>
  <p>Цена: {{ product.price }}</p>
  <button (click)="addToCart(product)">Добавить в корзину</button>
  <button (click)="addToFavorites(product)"> add To Favorites</button>
</div>

<div *ngIf="errorMessage">
  <p>{{ errorMessage }}</p>
</div>
